<div class="container">
  
    <h1 class="text-center">Burgers!</h1>
    <img src="/assets/img/CuteBurgerAndFries.jpg" width="500" class="mx-auto d-block">
  
  <h2 class="text-center">Add a Burger to Devour</h2>
  <form class="create-form d-flex justify-content-center">
    <textarea id="ca" name="name" class="form-control"></textarea></br>
    <button type="submit" class="btn btn-light">Add the Burger!</button>
  </form>


  <div class="row">
    <div class="col-sm-6">
      <h2 class="text-center">Burgers to Eat!</h2>
      <ul class="list-group">

        {{#each burger}}
        {{#unless devoured}}
        <li class="list-group-item d-flex justify-content-between">

          {{this.id}}. {{this.burger_name}}

          <button data-id="{{id}}" data-newdevour=1 class="devourBurger btn btn-light">Devour It!</button>

        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-sm-6">
      <h2 class="text-center">Burgers Eaten!</h2>

      <ul class="list-group">
        {{#each burger}}
        {{#if devoured}}
        <li class="list-group-item">

          {{this.id}}. {{this.burger_name}}


        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>


</div>