<h1>Burgers!</h1>

<h2>Burgers to Eat!</h2>

<ul>
  {{#each burger}}
  {{#unless devoured}}
    <li>
      <p>
        {{this.id}}. {{this.burger_name}}

        <button data-burgerid="{{this.id}}" class="devourBurger">Devour It!</button>
      </p>
    </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers Eaten!</h2>

<ul>
  {{#each burger}}
  {{#if devoured}}
    <li>
      <p>
        {{this.id}}. {{this.burger_name}}

        <button data-burgerid="{{this.id}}" class="devourBurger">Devour It!</button>
      </p>
    </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger to Devour</h2>
<form id="addBurger" class="button-size">
	<textarea type="text" name="movie"></textarea>
	<button type="submit">Add the Burger!</button>
</form>

